 .lspmanually {
   .inputArea {
      padding: 8px 20px;
      border: 1px solid #040c2d;
      border-radius: 7px;
      margin-bottom: 16px;
      p {
         font-weight: bold;
      }
      &.error {
         border: 1px solid red;
      }
   }
   input {
      border: none;
      &:focus {
         outline: none;
      }
   }
 }

