#databaseList {
  align-items: flex-start;
  align-content: flex-start;
  gap: 0px 1px;
  flex-wrap: wrap;

  .regionSelect, .countrySelect {
   min-width: 200px;
  }
  .dropdown-container {
   border-radius: 10px;
   min-height: 48px;
   padding: 4px 4px 0 4px;
  }
  .shipper-lsp-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    border-top: 1px solid #e0e0e0;
    background: #f4f7fb;
    border-right: 1px solid #e0e0e0;

    border-left: 1px solid #e0e0e0;
    .shipper-lsp-title {
      min-height: 80px;
      height: 80px;
      padding: 12px 20px;
      .title {
        color: $primary-blue;
      }
    }
  }
  .tableRemove {
      padding: 20px 23px 20px 18px;
      background-color: pink;
      border-radius: 20px;
      max-width: 20px;
      max-height: 20px;
  }
  .tableSelect {
   background-color: #ffd5d5;
  }
  .tableUnselect {
   background-color: #ffffff;
  }
  .tablemap {
   display: flex;
   flex-direction: row;
  }
  .map {
   flex: 1;
  }
  .long-list {
    box-shadow: $long-list-box-shadow;
    cursor: pointer;
  }
  .filter-area {
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    .filter-items {
      .selected {
         padding-left: 10px;
      }
      .buttons {
         padding: 0;
      }
    }
    .filter-button {
      padding: 10px 12px;
      margin: 0 10px;
      margin-left: 0;
      border: 2px solid $gray-light;
      box-shadow: none;
      background-color: #fff;
      img {
        width: 10px;
        height: 5px;
        margin: auto;
        margin-right: 0;
      }
    }
    .selected {
      color: #53b483;

      /* Headline 3 */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
    }
  }

  .selected-lsp {
    display: flex;
    margin: 0 20px 10px auto;

 .w-bg{
  background: white;
 }   .add_lsp {
      margin-right: 5px;
    }
  }
}
