#resetPassword {
  .passwordChanged {
    height: 30vh;
    width: 70%;
    margin: 30px auto;
    border: 1px solid $primary-blue;
    border-top: 30px solid $primary-blue;
    display: flex;
    p {
      color: $primary-blue;
    }
  }
  .reset-password {
    .reset-form {
      margin: 10% auto;
      width: 640px;
      display: flex;
      gap: 72px;
      flex-direction: column;
      .title-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin:0 auto;
      }
      .title{
       font-weight: 600;
      }
      .subtitle{
        color: $color-text-secondary;
      }
     
        .inputs-area{
          display: flex;
          flex-direction: column;
          gap: 32px;
        }
          .label-style {
            margin-bottom: 12px;
            text-align: left;
          }
        
      
      .submit {
        display: flex;
        justify-content: center;
      }
    }
  }
  .text-error {
    P {
      color: $errorColor;
    }
  }
 
}
